<meta charset="utf-8">
<title>{% if page.title %}{{ page.title }} | {% endif %}nateirwin.net</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="The online home of Nate Irwin, NPMap team lead for the National Park Service.">
<meta name="author" content="Nate Irwin">
<link href="http://fonts.googleapis.com/css?family=Cantarell:400,700,400italic,700italic" rel="stylesheet">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link rel="alternate" type="application/rss+xml" href="atom.xml">
<style>
  .navbar .nav .active > a, .navbar .nav .active > a:hover {
    background-color: #333;
  }
</style>