<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="readability-verification" content="CprnFKSUGNf5uQtHpLY6M4aKNphTstQhpNXjAL6h"/>
    {% include head-upper.html %}
    <style type="text/css">
      body {
        padding-top: 60px;
      }
    </style>
    {% include head-lower.html %}
  </head>
  <body>
    {% include nav.html %}
    <div class="container" style="margin-bottom:45px;">
      <div class="row-fluid">
        {{ content }}
      </div>
    </div>
    {% include footer.html %}
    {% include foot.html %}
  </body>
</html>