<!DOCTYPE html>
<html lang="en">
  <head>
    {% include head-upper.html %}
    {% include head-lower.html %}
    <style>
      #main {
        padding-top: 60px;
      }
      @media (max-width: 979px) {
        #main {
          padding-top: 0;
        }
      }
      @media (max-width: 767px) {
        #main {
          padding-top: 0;
        }
      }
    </style>
  </head>
  <body>
    {% include nav.html %}
    <div id="wrapper">
      <div id="main" class="container">
        <div class="row">
          <div class="span12">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
    {% include footer-sticky.html %}
    {% include foot.html %}
  </body>
</html>